<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange: Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="page-container">
    <header class="header">
        <a th:href="@{/}" class="header-link"><img th:src="@{/img/iba-logo-sky-blue.svg}" alt="IBA Tech Academy"></a>
    </header>

    <section class="login-section">
        <img class="login-section-image" th:src="@{/img/login-image.svg}" alt="404">

        <div class="login-section-container">
            <h1 class="login-section-container-title">Welcome Back!</h1>
            <div th:if="${success}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                <span th:text="${success}"></span>
            </div>

            <p class="login-section-container-description">To keep connected with us please login with personal
                information by email address and password</p>
            <form method="post" class="login-section-container-form"
                  th:object="${user}">

                <!-- Place for messages: error, alert etc ... -->
                <div class="form-group">
                    <div class="col-xs-15">
                        <div>

                            <!-- Check for registration error -->
                            <div th:if="${loginError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                <span th:text="${loginError}"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="login-section-container-form-input-wrapper">
                    <img th:src="@{/img/mail-icon.svg}" alt="User Icon">
                    <label for="email"></label>
                    <input class="login-section-container-form-input" id="email" placeholder="Email address"
                           type="email"
                           th:name="email">
                </div>
                <div class="login-section-container-form-input-wrapper">
                    <img th:src="@{/img/lock-icon.svg}" alt="User Icon">
                    <label for="password"></label>
                    <input class="login-section-container-form-input" id="password" placeholder="Password"
                           type="password"
                           th:name="password">
                </div>
                <div class="login-section-container-options">
                    <div class="login-section-container-options-wrapper">
                        <label class="login-section-container-options-checkbox-wrapper">Remember Me
                            <input type="checkbox" class="login-section-container-options-old-checkbox">
                            <span class="login-section-container-options-checkmark"></span>
                        </label>
                    </div>
                    <a th:href="@{/forgot-password}" class="login-section-container-options-link">Forgot password?</a>
                </div>
                <div class="login-section-form-buttons">
                    <!--                    SUBMIT BUTTON -->
                    <input type="submit" class="login-section-container-form-login" value="Login now">
                    <!--                    <inputth:href="@{/login}" class="login-section-container-form-login">Login now</a>-->
                    <a href="/register" class="login-section-container-form-signup">Create account</a>

                </div>

                <a href="/" type="button" class="btn btn-secondary" >Return Info Page</a>
                <div class="login-section-form-social">
                    <div class="login-section-form-social-description-wrapper">
                        <hr class="login-section-form-social-description-line">
                        <span class="login-section-form-social-description">Or you can Join with</span>
                        <hr class="login-section-form-social-description-line">
                    </div>
                    <div class="login-section-form-social-icon-wrapper">
                        <a href="#" class="login-section-form-social-icon"><img th:src="@{/img/google-plus.svg}"
                                                                                alt="Google Plus"></a>
                        <a href="#" class="login-section-form-social-icon"><img th:src="@{/img/facebook.svg}"
                                                                                alt="Facebook"></a>
                        <a href="#" class="login-section-form-social-icon"><img th:src="@{/img/linked-in.svg}"
                                                                                alt="Linked In"></a>
                        <a href="#" class="login-section-form-social-icon mr0"><img th:src="@{/img/twitter.svg}"
                                                                                    alt="Twitter"></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<script th:src="@{/js/checkbox.js}"></script>
</body>
</html>