<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/main-page-authorized.css}">
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" th:href="@{/css/custom-select.css}">
    <title>Exchange</title>
</head>

<body>
    <header class="main-header">

        <a th:href="@{/}" class="main-header-logo"><img th:src="@{/img/iba-tech-logo-white.svg}" alt="IBA Tech Academy"></a>
        <h3 t></h3>

        <div class="main-header-wrapper">
            <div class="main-header-profile-wrapper">
                <div class="main-header-profile-credentials">
                    <span class="main-header-username" th:text="${session.user.fullName}"></span>
                    <div class="log-out-block" >
                        <img th:src="@{/img/log-out-icon.svg}" alt="Log out">
                        <a th:href="@{/logout}" class="log-out-btn">Log out</a>
                    </div>
                </div>
                <img class="main-header-user-icon" th:src="@{/img/user-icon-with-background.svg}" alt="User Icon">
            </div>
        </div>
    </header>
    <section class="exchange">
        <div class="exchange-content">
            <h3 class="exchange-content-heading">
                Exchange money
            </h3>

            <form method="post" class="exchange-form">

                <div class="form-columns">

                    <div class="exchange-form-column">
                        <span class="select-name">
                            From
                        </span>
                        <div>
                            <select class="currency-input" name="base">
                                <option disabled hidden selected
                                        th:text="${object.base_ccy != null} ? ${object.base_ccy} : 'Choose a currency'"
                                        value=""></option>
                                <option th:each="curr : ${currencies}" th:text="${curr}"></option>
                            </select>
                        </div>
                        <br>
                        <div id="exchange-from-result" class="exchange-result">
                            <!--                            <span class="exchange-result-currency">$</span>-->
                            <input type="text" class="currency-input" th:value="${amount}" name="amount"
                                   placeholder="0">
                        </div>


                    </div>

                    <div class="exchange-form-column">
                        <span class="select-name">
                            To
                        </span>
                        <div>
                            <select class="currency-input" name="quote">
                                <option disabled hidden selected
                                        th:text="${object.quote_ccy != null} ? ${object.quote_ccy} : 'Choose a currency'"
                                        value=""></option>
                                <option th:each="curr : ${currencies}" th:text="${curr}"></option>
                            </select>
                        </div>
                        <br>
                        <div id="exchange-to-result" class="exchange-result">
                            <input type="text" class="currency-input" th:value="${result}" placeholder="0">
                        </div>

                    </div>

                </div>
                <div class="datepicker-wrapper datepicker-wrapper-left">
                            <span class="select-name">
                                Select Date
                            </span>
                    <input class="datepicker-input" id="date-from1" name="single-date" th:value="${date != null} ? ${date}: ${#dates.format(#dates.createNow(), 'dd MMMM yyyy ')}" type="text">
                    <div class="datepicker-value" id="date-from-value1"></div>
                </div>
                <h3 style="color: #ff0000" th:text="${msg}"></h3>

                <div class="form-footer">
                    <div class="rate"><h1 th:text="${left != null} ? ${left} : '1base/quote'"></h1></div>
                    <input class="reset-section-container-form-login" type="submit" value="Exchange"/>
                    <div class="rate"><h1 th:text="${right != null} ? ${right} : '1quote/base'"></h1></div>
                </div>
            </form>
        </div>

    </section>

    <section class="exchange">
        <div class="exchange-content">
            <h3 class="exchange-content-heading"></h3>
            Exchange money

            <form class="exchange-form"  th:action="@{/rates}" method="post">

                <div class="form-columns">

                    <div class="exchange-form-column">

                        <div class="datepicker-wrapper datepicker-wrapper-left">
                            <span class="select-name">
                                From
                            </span>
                            <input class="datepicker-input" id="date-from" readonly="" type="text">
                            <div class="datepicker-value" id="date-from-value"></div>
                        </div>

                    </div>

                    <div class="exchange-form-column">

                        <div class="datepicker-wrapper">
                            <span class="select-name">
                                To
                            </span>
                            <input class="datepicker-input" id="date-to" readonly="" type="text">
                            <div class="datepicker-value" id="date-to-value"></div>
                        </div>
                    </div>

                </div>
                <div class="form-footer">
                    <!--                    <div class="rate">1USD/0.89EUR</div>-->
                    <!--                    <input type="submit" class="reset-section-container-form-login" th:value="Exchange"/>-->
                    <!--                    <div class="rate">1EUR/1.12USD</div>-->
                    <input class="reset-section-container-form-login" type="submit" value="Show Rates"/>

                </div>
            </form>
        </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>
    <script th:src="@{/js/currency-select.js}"></script>
    <script th:src="@{/js/date-select.js}"></script>
</body>


</html>